                /*me lovely stylesheet*/
/*heading fonts*/
h1, h2 {
    font-family: "comic sans ms","times new roman", "serif";
    color: rgb(0, 255, 38);
    font-weight: 100;
    text-align: center;
    background-color:beige;
    padding: 8px 0px;
}
.index-list {
    font-family: "brush script mt", "times new roman", "serif";
    font-size: 24px;
    text-align: center;
    background-color: chartreuse;
    outline-style: solid;
    outline-color: black;
    outline-width: 2px;
}
.index-list li {
    background-color: brown;
    outline-style: solid;
    outline-color: aqua;
    outline-width: 2px;
}
/*text fonts*/
p {
    color: blue;
background-color: black;
}
h2 {
    text-align: left;
    color: rgb(255, 0, 0);
}
ul {
    font-family: "brush script mt", "times new roman", "serif";
    font-size: 24px;
}
ol {
    font-family: "arial", sans-serif;
    color: blue;
    background-color: yellow;
}
/*image sizes*/
.dahl-image {
    height:"300";
    width: "auto";
}
.chilli-image {
    height: "230";
    width: "auto";
}
